:host {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 30px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 2;
  gap: 20px;
  margin: 0 auto;
  text-align: center;
}
